<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.image_upload">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Prueba Creación de Álbum"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AlbumCreationActivity_"
            android:label="@string/title_activity_album_creation"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".activity.CoverEditorActivity_"
            android:label="Crea tu Portada"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".activity.ImageManipulationActivity_"
            android:label="Prepara la fotografía"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.ImageCroppingActivity_"
            android:label="Prepara la fotografía"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            />

        <service
            android:name=".service.AlbumSenderService"
            android:enabled="true"
            android:exported="true"
            android:label="Album Sender Background Service"
            />
    </application>

</manifest>